[Unit]
Description= DDNS over Aliyun


[Service]
ExecStart=/export/script/ddns_ali/ddns_aliyun.py --config /export/script/ddns_ali/ddns_aliyun.conf


