[Unit]
Description= Auto update DDNS 

[Timer]
Unit=ddns_aliyun.service 
OnBootSec=20sec
OnUnitInactiveSec=180sec


[Install]
WantedBy=timers.target

